---
---

<span class="herobar" aria-hidden="true"></span>

<style>
  .herobar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: var(--bar-vertical);
    background: var(--accent);
  }
</style>
